@{
    var email = ViewBag.Email;
}


<div id="intro" class="bg-image shadow-2-strong">
    <div class="mask d-flex align-items-center h-100" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-md-8">
                    <form class="bg-white rounded shadow-5-strong p-5" method="post">
                        <h3 class="mb-3 text-center text-uppercase">Thiết lập mật khẩu mới</h3>
                        <!-- Email input -->
                        @if (TempData["Error"] != null)
                        {
                            <div class="text-danger">
                                <span><b>Xin lỗi!</b> - @TempData["Error"] </span>
                            </div>
                        }
                        <div class="form-group">
                            <label for="otp">Mã OTP:</label>
                            <input type="text" class="form-control" id="otp" name="otp">
                        </div>
                        <div class="form-group">
                            <label for="passw">Mật khẩu mới:</label>
                            <input type="password" class="form-control" id="passw" name="password">
                        </div>
                        <div class="form-group">
                            <label for="retypepw">Mật khẩu nhập lại:</label>
                            <input type="password" class="form-control" id="retypepw" name="retypepassword">
                        </div>
                        <input type="email" name="email" value="@email" hidden/>
                        <button type="submit" class="btn btn-danger  btn-block">Thiết lập mật khẩu mới</button>
                        <p class="text-center text-muted mt-4 mb-0">
                            Quay trở về <a asp-action="Login"
                                           class="fw-bold text-body"><u>Đăng nhập</u></a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
