<div id="intro" class="bg-image shadow-2-strong">
    <div class="mask d-flex align-items-center h-100" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-md-8">
                    <form class="bg-white rounded shadow-5-strong p-4">
                        <h3 class="mb-3 text-center text-uppercase">Đăng nhập</h3>
                        <!-- Email input -->
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" id="email">
                        </div>
                        <!-- Password input -->
                        <div class="form-group">
                            <label for="pwd">Mật khẩu:</label>
                            <input type="password" class="form-control" id="pwd">
                        </div>
                        <div class="row mb-4">
                            <div class="col d-flex justify-content-space-bettween">
                                <!-- Checkbox -->
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="form1Example3"
                                           checked />
                                    <label class="form-check-label" for="form1Example3">
                                        Ghi nhớ đăng nhập
                                    </label>
                                </div>
                            </div>
                            <div class="col text-right ">
                                <a href="#!" class="text-dark">Quên mật khẩu?</a>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-danger  btn-block" data-mdb-ripple-init>
                            Đăng
                            nhập
                        </button>
                        <p class="text-center text-muted mt-4 mb-0">
                            Bạn chưa có tài khoản? <a href="/login/Register/register.html"
                                                      class="fw-bold text-body"><u>Đăng kí ngay</u></a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>